.mainPage {
    color: white;
    background-color: rgb(3, 3, 70);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 2rem;
    background-color: rgb(33, 66, 122);
    text-align: center;
    border-radius: .5rem;
    min-width: 17rem;
}

.counterTitle {
    margin-bottom: 1rem;
}

.counter {
    color: pink;
    margin-bottom: 1rem;

}

.btnBox {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: .2rem .4rem;
    border-radius: .2rem;
    font-size: 15px;
    border: none;
    transition: transform 0.1s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    transform: scale(.95);
    background-color: rgb(193, 193, 213);
}